{% extends 'base.html.twig' %}
{% form_theme loginForm _self %}

{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {{- form_label(form, null, {
        label_attr: { class: 'sr-only' }
    }) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock %}

{% block title %}{{ 'login.title'|trans({}, 'messages') }}!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <h2>{{ 'login.title'|trans({}, 'messages') }}</h2>

    {{ form_start(loginForm, {
        attr: { class: "form-signin" }
        })
    }}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_row(loginForm.email, {
        label: 'login.email',
        attr: { placeholder: 'login.email' }
        })
    }}

    {{ form_row(loginForm.password,  {
        label: 'login.password',
        attr: { placeholder: 'login.password' }
        })
    }}

    <div class="checkbox mb-3">
    {{ form_row(loginForm._remember_me,  {
        label: 'login.rememberMe',
        })
    }}
    </div>

    {{ form_row(loginForm.captcha) }}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit" class="btn btn-primary">{{ 'login.send'|trans({}, 'messages') }}</button>

    {{ form_end(loginForm) }}

{#    <form class="form-signin" method="post">#}
{#        {% if error %}#}
{#            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#        {% endif %}#}
{#        <h1 class="h3 mb-3 font-weight-normal">Login</h1>#}

{#        <label for="inputEmail" class="sr-only">Email Addresse</label>#}
{#        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email Addresse" required autofocus>#}

{#        <label for="inputPassword" class="sr-only">Passwort</label>#}
{#        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Passwort" required>#}

{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input type="checkbox" name="_remember_me">Angemeldet bleiben#}
{#            </label>#}
{#        </div>#}

{#        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}

{#        <button class="btn btn-lg btn-primary btn-block" type="submit">#}
{#            Anmelden#}
{#        </button>#}
{#    </form>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js?hl=de" async defer></script>
{% endblock %}