{% extends 'base.html.twig' %}
{% block title %}Profil!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('account.css') }}">
{% endblock %}
{% block body %}
    <h1>Manage dein Profil!</h1>

    <div class="container">
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
                <div class="row spacepurplebg white">
                    <div class="col-md-2 no-pad">
                        <div class="user-image">
                            <img alt="avatar" src="https://robohash.org/{{ app.user.email }}" class="img-responsive thumbnail">
                        </div>
                    </div>
                    <div class="col-md-10 no-pad">
                        <div class="user-pad">
                            <h3>Willkommen, {{app.user.fullName}}</h3>
                            <a class="btn btn-labeled btn-info" href="#">
                                <span class="btn-label"><i class="fa fa-pencil"></i></span>Update
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-md-4 user-pad text-center">
                        <h3>EMAIL</h3>
                        <h4 style="font-size: 26px;">{{ app.user.email }}</h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>AVATAR</h3>
                        <h4 style="font-size: medium;">{{ app.user.avatarUrl }}</h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>NICK</h3>
                        <h4>{{ app.user.nickName }}</h4>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-md-4 user-pad text-center">
                        <h3>SIGN UP</h3>
                        <h4 style="font-size: 26px;">{{ app.user.createdAt | date('d.m.Y') }}</h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>CONFIRMED</h3>
                        <h4>{% if app.user.confirmed %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-remove"></i>{% endif %}</h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>NEWS</h3>
                        <h4>{% if app.user.newsletter %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-remove"></i>{% endif %}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}