{% extends 'base.html.twig' %}
{% block title %}Profil!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}
{% block body %}
    <h1>Manage dein Profil!</h1>

    <div class="container">
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
                <div class="row spacepurplebg white">
                    <div class="col-md-3 no-pad">
                        <div class="user-image">
                            <img alt="avatar" src="https://robohash.org/{{ app.user.email }}" class="img-responsive thumbnail">
                        </div>
                    </div>
                    <div class="col-md-9 no-pad">
                        <div class="user-pad" style="text-align: left;">
                            <h3>Willkommen {% if app.user.nickName %} {{app.user.nickName}} {% else %} {{app.user.firstName}} {% endif %}</h3>
                            <ul style="text-align: left; list-style: none; padding:0; color: rosybrown">
{#                                <li>Es gibt unbeantwortete Kontaktanfragen.</li>#}
                                {% if app.user.confirmed == false %}<li>Du hast dein Konto noch nicht bestätigt. Check deine Emails!</li>{% endif %}
{#                                <li>Eine ungelesene Nachricht wartet auf dich.</li>#}
                            </ul>
                            <a class="btn btn-labeled btn-info" href="{{ path('app_profile_edit') }}">
                                <span class="btn-label"><i class="fa fa-pencil"></i></span>Update
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-md-12 user-pad text-center">
                        <h5>EMAIL</h5>
                        <div class="user-show">{{ app.user.email }}</div>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-md-4 user-pad text-center">
                        <h5>REGISTRIERT</h5>
                        <div class="user-show">{{ app.user.createdAt | date('d.m.Y') }}</div>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h5>BESTÄTIGT</h5>
                        <div class="user-show">{% if app.user.confirmed %}<i class="active fa fa-check"></i>{% else %}<i class="inactive fa fa-remove"></i>{% endif %}</div>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h5>NEWS</h5>
                        <div class="user-show checkbox-switch" data-propertyname="active">
                            <label class="switch">
                                <input data-url="{{ path('app_profile_toogle_news')}}" id="news-toggle" type="checkbox" {% if app.user.newsletter %} checked {% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}