{% extends 'base.html.twig' %}
{% form_theme registerForm _self %}

{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {{- form_label(form, null, {
        label_attr: { class: 'sr-only' }
    }) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock %}

{% block title %}{{ 'register.title'|trans({}, 'messages') }}!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block body %}
            <div class="col-sm-6">
                <h2>{{ 'register.title'|trans({}, 'messages') }}</h2>

                {{ form_start(registerForm) }}

                {{ form_row(registerForm.firstName, {
                    label: 'register.first.name',
                    attr: { placeholder: 'register.first.name.required', autocomplete: "on" },
                }) }}
                {{ form_row(registerForm.lastName, {
                    label: 'register.last.name',
                    attr: { placeholder: 'register.last.name.required', autocomplete: "on" },
                }) }}

                {{ form_row(registerForm.email, {
                    label: 'register.email',
                    attr: { placeholder: 'register.email.required', autocomplete: "on"},
                }) }}
                <div class="input-group">
                {{ form_row(registerForm.plainPassword, {
                    label: 'register.password',
                    attr: { placeholder: 'register.password.required', class: 'toggle-password', autocomplete: "off" },
                }) }}
                    <div class="input-group-append">
                        <div class="toggle-eye input-group-text fa fa-eye"></div>
                    </div>
                </div>
                <small id="register__password_help" class="newsletter-help form-text text-muted">{{ 'register.password.help'|trans({}, 'messages') }}</small>

                <div class="input-group">
                    <div class="form-check form-check-inline">
                        {{ form_widget(registerForm.newsletter, {label: 'register.newsletter'}) }}
                    </div>
                </div>
                <small id="register__newsletter_help" class="newsletter-help form-text text-muted">{{ 'register.newsletter.help'|trans({}, 'messages') }}</small>

                {{ form_row(registerForm.captcha,  {
                    label: 'register.reCaptcha'
                }) }}

                <button type="submit" class="btn btn-primary">{{ 'register.send'|trans({}, 'messages') }}</button>
                {{ form_end(registerForm) }}

            </div>
    <p class="privacy">{{ 'register.privacy.info'|trans({}, 'messages') }} <a target="_blank" href="{{ path('app_privacy') }}" title="{{ 'register.privacy.title'|trans({}, 'messages') }}">{{ 'register.privacy.info.link'|trans({}, 'messages') }}.</a></p>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js?hl=de" async defer></script>
    {{ encore_entry_script_tags('register') }}
{% endblock %}