{# templates/common/contact.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Zitate{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    <h2>Go-Zitate</h2>

    {{ form_start(form) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="form-group">
        {{ form_label(form.quote) }}
        {{ form_widget(form.quote, {'attr': {'rows': '6'}}) }}
    </div>

    {{ form_row(form.details) }}
    {{ form_end(form) }}

{% endblock %}
