{% extends 'base.html.twig' %}

{% block title %}Hello QuoteAdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <table>
        <tr><thead>Zitat</thead><thead>Details</thead><thead>created</thead><thead>updated</thead></tr>
        {% for quote in quotes %}
            <tr>
                <td>{{ quote.quote }}</td>
                <td>{{ quote.details }}</td>
                <td>{{ quote.createdAt }}</td>
                <td>{{ quote.updatedAt }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
