

<div class="table-responsive-sm d-inline-flex p-2">
<table class="bundesliga table">
    <caption>{{ model.title }} - {{ model.matchDay }}. Spieltag</caption>
    <tr class="head">
        <td colspan ="3"></td>
        <td class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Spiele">Sp</td>
        <td class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Siege">s</td>
        <td class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Unentschieden">u</td>
        <td class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Niederlage">n</td>
        <td class="board" data-toggle="tooltip" data-placement="top" title="Brettpunkte">BP</td>
        <td class="points" data-toggle="tooltip" data-placement="top" title="Punkte">Pkt</td>
    </tr>
{% for  data in model.actualTable %}
    <tr class="{{ data.cSS }}">
        <td>{{ data.position }}</td>
        <td data-toggle="tooltip" data-placement="right" title='Tendenz'><img alt='Tendenz' src="images/{{ data.imgSrc }}"></td>
        <td class="team">{{ data.team }}</td>
        <td class="hide d-sm-table-cell games">{{ data.games }}</td>
        <td class="hide d-sm-table-cell">{{ data.wins }}</td>
        <td class="hide d-sm-table-cell">{{ data.draws }}</td>
        <td class="hide d-sm-table-cell">{{ data.losses }}</td>
        <td class="board">{{ data.boardPoints }}</td>
        <td class="points">{{ data.points }}</td>
    </tr>
{% endfor %}
    <tr>
        <td colspan ="9" class="matchDaySelect">
        {% for  matchDay in model.matchDayRange %}
            {% set _title = "zum Spieltag " ~ matchDay %}
            {% set _class = "" %}
            {% if matchDay == model.matchDay %}
                {% set _title = "aktueller Spieltag" %}
                {% set _class = "actual " %}
            {% elseif matchDay > model.lastMatchDay %}
                {% set _class = "notPlayed " %}
            {% endif %}
            <span class="{{ _class }}">
                {% if matchDay == model.matchDay %}
                    <a title="{{ _title }}" href="#"> {{ matchDay }} </a>
                {% elseif matchDay <= model.lastMatchDay %}
                    <a class="js-matchDay-select" data-md="{{ matchDay }}"  data-url="{{ path(url, { 'seasonId': model.season.id }) }}" title="{{ _title }}" href="#"> {{ matchDay }} </a>
                {% else %}
                    {{ matchDay }}
                {% endif %}

            </span>
        {% endfor %}
        </td>
    </tr>
</table>
</div>