{% extends 'base.html.twig' %}

{% block title %}Saisonhistorie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dgob') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Saisonarchiv</h2>
        <div>
            <select id="season-select" class="js-season-select form-control season-select" data-url="{{ path('bundesliga_season_select') }}">
                {% for season in allSeasons %}
                    <option{% if model and season == model.season %} selected="selected"{% endif %} value="{{ season.id }}">
                        {{ season.title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div style="text-align: center">
            <div class="js-season-table">
            {%  include 'bundesliga/_archive.season.table.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dgob') }}
{% endblock %}
