{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bundesliga') }}
{% endblock %}
{% block title %}Ergebnisse eintragen{% endblock %}

{% block body %}

    <h5 class="matchDay-info">{{ model.results.season.title }} - Liga {{ model.results.season.league }}: <span>{{ model.results.matchDay }}. Spieltag</span></h5>
     {{ form_start(form) }}
        <h3>{{ model.results.pairing }}<span class="bundesliga-result js-calculate-result">{{ model.currentResult }}</span></h3>
        <div>
            {{ form_errors(form) }}
        </div>

        <div class="matchDay">
            {% if form.executive is defined %}
                <fieldset><legend>Ligaleiter</legend>
                    <div class="no-margin-top">
                    {{ form_help(form.executive) }}
                    {{ form_widget(form.executive) }}
                    </div>
                </fieldset>
            {% endif %}
            {% if form.nakadeCaptainName is defined and form.nakadeCaptainEmail is defined%}
                <fieldset><legend>Teammanager von Nakade</legend>
                  <div class="manager no-margin-top">
                      <div>{{ form_errors(form.nakadeCaptainName) }}{{ form_widget(form.nakadeCaptainName) }}</div>
                      <div>{{ form_errors(form.nakadeCaptainEmail) }}{{ form_widget(form.nakadeCaptainEmail) }}</div>
                  </div>
                </fieldset>
            {% endif %}
            {% if form.oppCaptainName is defined and form.oppCaptainEmail is defined%}
                <fieldset><legend>Teammanager von {{ model.results.opponentTeam.name}}</legend>
                    <div class="manager no-margin-top">
                        <div>{{ form_errors(form.oppCaptainName) }}{{ form_widget(form.oppCaptainName) }}</div>
                        <div>{{ form_errors(form.oppCaptainName) }}{{ form_widget(form.oppCaptainEmail) }}</div>
                    </div>
                </fieldset>
            {% endif %}
            {% include 'bundesliga/_match.html.twig' with {'model': model, 'match': form.firstBoardMatch, 'legend': 'Erstes Brett', 'pair': true} %}
            {% include 'bundesliga/_match.html.twig' with {'model': model, 'match': form.secondBoardMatch, 'legend': 'Zweites Brett', 'pair': false} %}
            {% include 'bundesliga/_match.html.twig' with {'model': model, 'match': form.thirdBoardMatch, 'legend': 'Drittes Brett', 'pair': true} %}
            {% include 'bundesliga/_match.html.twig' with {'model': model, 'match': form.fourthBoardMatch, 'legend': 'Viertes Brett', 'pair': false} %}
        </div>

    {% if is_granted('ROLE_NAKADE_TEAM_MANAGER') %}
    <div class="matchDay-buttons">
        <button type="submit" class="btn btn-primary">
            <span class="btn-label"> Update</span>
        </button>
        {%  if model.readyForLineupMail %}
            <a class="btn btn-info" data-toggle="tooltip" title="Aufstellung verschicken"
               href="{{ path('mail_lineup', { 'lineupMail': model.results.lineupMail.id }) }}">
                <i class="fa fa-fw fa-envelope"></i><span class="btn-label"> Aufstellung</span>
            </a>
        {% endif %}
        {%  if model.readyForResultMail %}
            <a class="btn btn-success" data-toggle="tooltip" title="Ergebnisse an den Ligaleiter schicken"
               href="{{ path('mail_result', { 'resultMail': model.results.resultMail.id }) }}">
                <i class="fa fa-fw fa-envelope"></i><span class="btn-label"> Ergebnisse</span>
            </a>
        {% endif %}
    </div>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bundesliga') }}
    {{ encore_entry_script_tags('autocomplete') }}
{% endblock %}
