{% extends 'base.html.twig' %}

{% block title %}Spielerstatistik{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('player-stats') }}
{% endblock %}

{% block body %}

    <div class="container stats">
        <h3>Teambilanz</h3>
        <h5>{{ data.season.title }} - {{ data.season.league | number_format }}. Liga</h5>
        {% if data.lastMatchDay %}
            <h6>aktuelle Saison nach {{ data.lastMatchDay }} Spieltagen</h6>
        {% endif %}
    <center>
        <table class="match-stats selectRow">
            <tr>
                <th>Spieler</th>
                <th class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Spiele">Sp</th>
                <th class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Siege">s</th>
                <th class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Unentschieden">u</th>
                <th class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Niederlagen">n</th>
                <th  class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Punkte" >P</th>
                <th  class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Gewinnquote" >%</th>
            </tr>
        {% for model in data.players %}
            {% set _linkparams = {'seasonId': model.season.id, 'playerId': model.player.id } %}
            {% set _location = path('bundesliga_season_stats_player', _linkparams)  %}
            <tr class="{{ cycle(['defaultColor', 'alternateColor'], loop.index0) }}" onclick="window.location.href='{{ _location }}';">
                <td class="name">{{ model.player.name }}</td>
                <td class="space">{{ model.games }}</td>
                <td>{{ model.wins }}</td>
                <td>{{ model.draws }}</td>
                <td>{{ model.losses }}</td>
                <td class="space">{{ model.points }}</td>
                <td>{{ model.winPercentage }}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bundesliga') }}
{% endblock %}
