{% extends 'base.html.twig' %}

{% block title %}Spielerstatistik{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('player-stats') }}
{% endblock %}

{% block body %}

    <div class="container stats">
{#        <h3>{{ model.player.name }}</h3>#}
        <h5>{{ season.title }} - {{ season.league | number_format }}. Liga</h5>

    <center>
        <table class="match-stats" style="width: 100%">
            <tr>
                <th>Spieler</th>
                <th class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Spiele">Sp</th>
                <th class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Siege">s</th>
                <th class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Unentschieden">u</th>
                <th class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Niederlagen">n</th>
                <th  class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Punkte" >P</th>
                <th  class="hide d-sm-table-cell" data-toggle="tooltip" data-placement="top" title="Gewinnquote" >%</th>
            </tr>
    {% for model in data %}
                <tr>
                    <td style="text-align: left">{{ model.player.name }}</td>
                    <td>{{ model.games }}</td>
                    <td>{{ model.wins }}</td>
                    <td>{{ model.draws }}</td>
                    <td>{{ model.losses }}</td>
                    <td>{{ model.points }}</td>
                    <td>{{ model.winPercentage }}</td>
                </tr>
    {% endfor %}
        </table>
    </center>

{#        {% set list_parameter = app.request.query.all %}#}
{#        <a href="{{ path('bundesliga_season_archive', list_parameter ) }}"><button type="button" class="btn btn-success">Zurück</button></a>#}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bundesliga') }}
{% endblock %}
