{% extends 'base.html.twig' %}
{% form_theme form _self %}

{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {{- form_label(form, null, {
        label_attr: { class: 'sr-only' }
    }) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock %}

{% block title %}{{ 'news.create.title'|trans({}, 'messages') }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; font: 18px/1.5 sans-serif; }
    .example-wrapper form {  }
    .example-wrapper form textarea {  }
</style>

<div class="example-wrapper">
    <h1>{{ 'news.create.title'|trans({}, 'messages') }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name, {
        label: 'news.create.name.label',
        attr: { placeholder: 'news.create.name.placeholder', autocomplete: "on" },
    }) }}
    {{ form_row(form.subject, {
        label: 'news.create.subject.label',
        attr: { placeholder: 'news.create.subject.placeholder', autocomplete: "on" },
    }) }}
    {{ form_row(form.title, {
        label: 'news.create.title.label',
        attr: { placeholder: 'news.create.title.placeholder', autocomplete: "on" },
    }) }}
    <div class="easyadmin-text-editor-wrapper">
        {{ form_row(form.text, {
            label: 'news.create.text.label',
            attr: { placeholder: 'news.create.text.placeholder', autocomplete: "on" },
        }) }}
    </div>
    <div class="easyadmin-text-editor-wrapper">
        {{ form_row(form.footNote, {
            label: 'news.create.text.label',
            attr: { placeholder: 'news.create.text.placeholder', autocomplete: "on" },
        }) }}
    </div>

    <button type="submit" class="btn btn-primary">{{ 'news.create.btn.label'|trans({}, 'messages') }}</button>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}