{% extends 'base.html.twig' %}

{% block title %}Hello NewsCreateController!{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper form {  }
    .example-wrapper form textarea {  }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    {{ form_start(form) }}
    {{ form_row(form.title, {
        label: 'Titel',
        attr: { placeholder: 'Hier den Titel schreiben', autocomplete: "on" },
    }) }}
    {#    {{ form_widget(form, { attr: attr|merge({ 'style': 'display: none' }) }) }}#}
    <div class="easyadmin-text-editor-wrapper">
        {{ form_row(form.body, {
            label: 'Text',
            attr: { placeholder: 'Hier den Text schreiben', autocomplete: "on" },
        }) }}

    </div>

    <button type="submit" class="btn btn-primary">{{ 'subscribe.send'|trans({}, 'messages') }}</button>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}