{# templates/common/about.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Über uns{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('imprint') }}
{% endblock %}

{% block body %}

    <h2>Spieltreff</h2>

    <div class="privacy">

    <h2>Mommsen-Eck</h2>
    <p>Der <b>Nakade Go Club</b> trifft sich einmal im Monat im <a style="white-space: nowrap" target="_blank" title="externe Seite!"
    href="http://www.mommsen-eck.de/">Mommsen-Eck<span title="externe Seite!" class="actionIcon icon-ic_launch_black_24dp"></span></a> in Berlin Charlottenburg.<br>
     Das <i>Haus der 100 Biere</i> ist eine beliebte Gaststätte mit langer Tradition zwischen Ku'damm und
     Kantstrasse.</p>

        <p>Go-Spieler, Anfänger und Interessierte sind herzlich willkommen. Wir verfügen auch über kleinere
        <b>Anfänger-Bretter</b> und erklären gerne das Spiel.<br>
        Die Teilnahme ist <b>kostenlos</b>.<br>
    </p>

    <h2>Adresse</h2>
    <div class="bvg">
        <p>
            Mommsen-Eck <a title="externe Seite!" target="_blank"
            href="https://www.google.de/maps/place/Mommsen-Eck+Charlottenburg+-+Haus+der+100+Biere/@52.5033712,13.3061993,17z/data=!4m5!3m4!1s0x47a850e713b8bc8d:0xc3bbcc7aaab481fb!8m2!3d52.5033692!4d13.3083839">
            <img src="{{ asset('build/images/common/googleMaps.jpeg') }}"></a><br>
            Mommsenstrasse 45<br>
            <u>10629 Berlin</u>
            <ul>
                <li>
                    <img title="U-Bahn Linie 2" src="{{ asset('build/images/common/u2.png') }}">
                    <img title="U-Bahn Linie 7" src="{{ asset('build/images/common/u7.png') }}">
                    <span>Wilmersdorfer Str.</span>
                </li>
                <li><img title="U-Bahn Linie 7" src="{{ asset('build/images/common/u7.png') }}"><span>Adenauer Platz</span></li>
                <li><img title="S-Bahn" src="{{ asset('build/images/common/sbahn.png') }}"><span>Bahnhof Charlottenburg</span></li>
                <li class="walkway"><div title="Fussweg" class="mapsIcon icon-ic_directions_walk_black_24dp"></div><span>ca. 5min Fussweg</span></li>
            </ul>

        </p>
    </div>

    <h2>jeden 2.Montag im Monat von 18-22h</h2>
    <p>nächster Termin am <b>{{ meetingDate | locale_date }}</b>{{ meeting_alert('2019-09-09') }}</p>

    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('imprint') }}
{% endblock %}