{# templates/common/contact.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Kontakt{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    <h2>Kontakt</h2>

    {{ form_start(form) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.lastName) }}
        </div>
    </div>


    {{ form_row(form.address) }}


    <div class="row">
        <div class="col-3">
            {{ form_row(form.zipCode) }}
        </div>
        <div class="col">
            {{ form_row(form.city) }}
        </div>
    </div>

    {{ form_row(form.phone) }}

    {{ form_row(form.email) }}

    <div class="form-group">
        {{ form_label(form.message) }}
        {{ form_widget(form.message, {'attr': {'rows': '6'}}) }}
    </div>

    <p>Bitte füllen sie alle Felder, die mit einem * markiert sind, aus!</p>

    {{ form_end(form) }}

    <p>Ihre Kontaktdaten werden zum Zweck der Bearbeitung Ihrer Anfrage und für den Fall von Anschlussfragen bei uns
        gespeichert.<br>
        Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//www.google.com/recaptcha/api.js?hl=de"></script>
     {{ encore_entry_script_tags('contact') }}
{% endblock %}