{# templates/common/contact.html.twig #}
{% extends 'base.html.twig' %}
{% form_theme contactForm _self %}

{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {{- form_label(form, null, {
        label_attr: { class: 'sr-only' }
    }) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock %}


{% block title %}Kontakt{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    <h2>Kontakt</h2>

    {{ form_start(contactForm) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(contactForm) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(contactForm.firstName,  {
                label: 'Vorname',
                attr: { placeholder: '*Vorname' }
            }) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(contactForm.lastName,  {
                label: 'Nachname',
                attr: { placeholder: '*Nachname' }
            }) }}
        </div>
    </div>

    <div class="form-group">
    {{ form_row(contactForm.email,  {
        label: 'eMail',
        attr: { placeholder: '*eMail' },
        help: 'An diese Adresse wird eine Bestätigung geschickt',
    }) }}
    </div>

    {{ form_row(contactForm.address,  {
        label: 'Anschrift',
        attr: { placeholder: 'Anschrift' }
    }) }}

    <div class="row">
        <div class="col-3">
            {{ form_row(contactForm.zipCode,  {
                label: 'Postleitzahl',
                attr: { placeholder: 'Postleitzahl' }
            }) }}
        </div>
        <div class="col">
            {{ form_row(contactForm.city,  {
                label: 'Stadt',
                attr: { placeholder: 'Stadt' }
            }) }}
        </div>
    </div>

    {{ form_row(contactForm.phone,  {
        label: 'Telefon',
        attr: { placeholder: 'Telefon' }
    }) }}

    <div class="form-group">
        {{ form_row(contactForm.message, {
        label: 'Nachricht',
        attr: { placeholder: '*Ihre Nachricht', rows: '6' },
        help: 'Bitte füllen sie alle Felder, die mit einem * markiert sind, aus!',
        }) }}
    </div>

    {{ form_row(contactForm.captcha,  {
        label: 'ReCaptcha'
    }) }}

    <button type="submit" class="btn btn-primary">Abschicken</button>

    {{ form_end(contactForm) }}

    <p style="margin-top: 20px;">Ihre Kontaktdaten werden zum Zweck der Bearbeitung Ihrer Anfrage und für den Fall von Anschlussfragen bei uns
        gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script src="https://www.google.com/recaptcha/api.js?hl=de" async defer></script>
    {{ encore_entry_script_tags('contact') }}
{% endblock %}