{# templates/common/contact.html.twig #}
{% extends 'base.html.twig' %}
{% form_theme contactForm _self %}

{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {{- form_label(form, null, {
        label_attr: { class: 'sr-only' }
    }) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock %}


{% block title %}{{ 'contact.title'|trans({}, 'messages') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    <h2>{{ 'contact.title'|trans({}, 'messages') }}</h2>

    {{ form_start(contactForm) }}

    <div class="row">
        <div class="col">
            {{ form_row(contactForm.firstName,  {
                label: 'contact.first.name',
                attr: { placeholder: 'contact.first.name.required' }
            }) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(contactForm.lastName,  {
                label: 'contact.last.name',
                attr: { placeholder: 'contact.last.name.required' }
            }) }}
        </div>
    </div>

    <div class="form-group">
    {{ form_row(contactForm.email,  {
        label: "contact.email",
        attr: { placeholder: 'contact.email.required' },
        help: 'contact.email.help',
    }) }}
    </div>

    {{ form_row(contactForm.address,  {
        label: 'contact.address',
        attr: { placeholder: 'contact.address' }
    }) }}

    <div class="row">
        <div class="col-3">
            {{ form_row(contactForm.zipCode,  {
                label: 'contact.zip',
                attr: { placeholder: 'contact.zip' }
            }) }}
        </div>
        <div class="col">
            {{ form_row(contactForm.city,  {
                label: 'contact.city',
                attr: { placeholder: 'contact.city' }
            }) }}
        </div>
    </div>

    {{ form_row(contactForm.phone,  {
        label: 'contact.phone',
        attr: { placeholder: 'contact.phone' }
    }) }}

    <div class="form-group">
        {{ form_row(contactForm.message, {
        label: 'contact.message',
        attr: { placeholder: 'contact.message.required', rows: '6' },
        help: 'contact.required.help',
        }) }}
    </div>

    {{ form_row(contactForm.captcha,  {
        label: 'contact.reCaptcha'
    }) }}

    <button type="submit" class="btn btn-primary">{{ 'contact.send'|trans({}, 'messages') }}</button>

    {{ form_end(contactForm) }}

    <p style="margin-top: 20px;">{{ 'contact.privacy.info'|trans({}, 'messages') }}</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script src="https://www.google.com/recaptcha/api.js?hl=de" async defer></script>
    {{ encore_entry_script_tags('contact') }}
{% endblock %}