{# templates/emails/confirmRegistration.html.twig #}
{% extends 'mailTemplate.html.twig' %}

{% block mail_body %}
    <h3 style="filter: opacity(70%)">{{ mail.results.season.title }} - {{ mail.leagueNumber }}. Bundesliga{% if mail.leagueGroup %} ({{ mail.leagueGroup|upper }}){%  endif %}, {{ mail.results.matchDay }}. Spieltag</h3>
    <h2 style="display: flex; align-items: center;"><img style="margin-right: 10px; filter: opacity(60%);" alt="logo" width="32px" height="32px" src="{{ absolute_url(asset('build/images/go-32.png')) }}">Bundesliga Ergebnis!</h2>
    <div style="padding-top: 20px; text-align: left">
        <h4 style="font-weight: normal; font-size: medium">Hallo {{ mail.results.season.executive.firstName }},</h4>

        <p style="white-space: nowrap">das Ergebnis zwischen {{ mail.results.pairing }} {{ mail.results.calcResult }}.</p>

        {% if mail.results.home.kgsId and mail.results.away.kgsId %}
        <ul style="text-align: left; list-style: none; line-height: 1.5em">
            <li>KgsId: {{ mail.results.home.kgsId }}1..4 -  {{ mail.results.away.kgsId }}1..4</li>
        </ul>
        {% endif %}

        <ul style="text-align: left; list-style: none; line-height: 1.5em">
            {% for match in mail.results.matches %}
                <li>{{ match | pairing }}</li>
            {% endfor %}
        </ul>
        <p style="margin-top: 1rem; filter: opacity(70%)">Die Spieler der Heimmannschaft stehen links...</p>

    <p style="margin-top: 2rem; margin-bottom:  1.5rem;">Mit 361 Grüßen</p>
    {{ manager }}
    <p style="margin-top: 0.3rem; margin-bottom: 1rem; font-size: smaller">Team Manager</p>
    </div>

{% endblock %}

{% block mail_footer %}
    Dieses Formular ist an den Ligaleiter der Go-Bundesliga des DGoB gerichtet.<br>
    Dies ist eine automatisch generierte E-Mail. Bitte beachte, dass du auf diese E-Mail nicht direkt antworten kannst.
    Antworten an diese Adresse werden nicht gelesen.<br><br>
{% endblock %}