<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div id="upperbar">
            {% block upperbar %}
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('common_about') }}">About</a></li>
                    <li><a href="{{ path('common_imprint') }}">Impressum</a></li>
                    <li><a href="{{ path('common_contact') }}">Kontakt</a></li>
                    <li><a href="{{ path('common_privacy') }}">Datenschutz</a></li>
                </ul>
            {% endblock %}
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
