<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/images/nakade_256x256.png') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
    <img src="{{ asset('build/images/nakade_256x256.png') }}" alt="Symfony!"/>
        <div id="upperbar">
            {% block upperbar %}
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('common_about') }}">About</a></li>
                    <li><a href="{{ path('common_imprint') }}">Impressum</a></li>
                    <li><a href="{{ path('common_contact') }}">Kontakt</a></li>
                    <li><a href="{{ path('common_privacy') }}">Datenschutz</a></li>
                </ul>
            {% endblock %}
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
