<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/images/nakade_256x256.png') }}">
        <title>{% block title %}Willkommen bei Nakade!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="language" content="de">
        <meta http-equiv="expires" content="0">
        <meta name="author" content="Nakade Berlin">
        <meta name="keywords" content="Nakade, Bundesliga, Go, Brettspiel, Baduk, Wei-qi, DGoB">
        <meta name="description" content="Dies ist die Vereinsseite von Nakade. Wir stellen eine Mannschaft für die Go-Bundesliga des Deutschen Go-Bundes.
        Go ist ein etwa 4000 Jahre altes Brettspiel. Go gilt als das komplexeste Strategiespiel. Mann kennt es auch als Baduk (Korea) oder Wei-qi (China).">

        {% block head_stylesheets %}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body class="d-flex flex-column h-100">
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="alert alert-warning" style="margin-bottom: 0;">
            You are currently switched to this user.
            <a href="{{ path('app_homepage', {'_switch_user': '_exit'}) }}">Exit Impersonation</a>
        </div>
    {% endif %}

    <div class="container-fluid">
        {{ include('nav.html.twig') }}
        <div class="row">
            <nav class="col-md-3 d-none d-md-block bg-transparent sidebar">
                <div class="sidebar-sticky">
                    {% block sidebar %}
{#                    sidebar#}
                    {% endblock %}
                </div>
            </nav>
            <main role="main" class="flex-sm-shrink-0" id="content">
                <div style="min-height: 894px" class="container">
                    {% for msg in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">
                            {{ msg | trans({}, 'messages')  }}
                        </div>
                    {% endfor %}
                    {% for msg in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger">
                            {{ msg | trans({}, 'messages') }}
                        </div>
                    {% endfor %}

                    {% block body %}TEMPLATE{% endblock %}
                </div>
            </main><!-- /.container -->
        </div>
        {{ include('footer.html.twig') }}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script>
            $('.custom-file-input').on('change', function(event) {
                var inputFile = event.currentTarget;
                $(inputFile).parent()
                    .find('.custom-file-label')
                    .html(inputFile.files[0].name);
            });
        </script>
    {% endblock %}
    </body>
</html>
