{% block navigation %}

<nav class="max-width navbar navbar-expand-md navbar-light nakade-bg">
    <a class="navbar-brand" href="#"><img src="{{ asset('build/images/nakade_256x256.png') }}" alt="Nakade"/>Nakade</a>
    <button class="navbar-toggler upper-toggler" type="button" data-toggle="collapse" data-target="#navbarsTop" aria-controls="navbarsTop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsTop">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_homepage') }}#">{{ 'navigation.home'|trans({}, 'messages') }} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_about') }}">{{ 'navigation.about'|trans({}, 'messages') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_clubs') }}">{{ 'navigation.club'|trans({}, 'messages') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news_subscribe') }}">{{ 'navigation.news'|trans({}, 'messages') }}</a>
            </li>
        </ul>
{#        <form class="form-inline my-2 my-lg-0">#}
{#            <input class="form-control mr-sm-2" type="text" placeholder="Suchen" aria-label="Search">#}
{#            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Suchen</button>#}
{#        </form>#}
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown" style="margin-right: 75px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img alt="avatar" class="nav-profile-img rounded-circle" src="{{ app.user.avatarUrl(30) }}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_profile') }}"><i class="fa fa-fw fa-user-circle-o"></i> {{'navigation.profile'|trans({}, 'messages') }}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('easyadmin') }}"><i class="fa fa-fw fa-cogs"></i> {{'navigation.admin'|trans({}, 'messages') }}</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fa fa-fw fa-sign-out"></i> {{'navigation.logout'|trans({}, 'messages') }}</a>
                    </div>
                </li>
            {% else %}
                <li title="login" class="nav-item dropdown" style="margin-right: 75px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img alt="ic_person" class="nav-profile-img rounded-circle" src="{{ asset('build/images/common/ic_person_24px.png') }}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_login') }}"><i class="fa fa-fw fa-sign-in"></i> {{ 'navigation.login'|trans({}, 'messages') }}</a>
                        <a class="dropdown-item" href="{{ path('app_register') }}"><i class="fa fa-fw fa-id-badge"></i> {{ 'navigation.register'|trans({}, 'messages') }}</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}